# 默认 LLM Provider (openai/qwen/glm/ollama/MiniMax-M2.5)
DEFAULT_LLM_PROVIDER=MiniMax-M2.5

# BASE_URL=https://apis.iflow.cn/v1
BASE_URL=https://api.minimaxi.com/v1

# LLM API Keys (至少配置一个)
DASHSCOPE_API_KEY=xxxx

